RewriteEngine on

IndexIgnore *
DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteCond %{HTTP_HOST} ^ceylon-lang.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.ceylon-lang.org$
RewriteRule ^download/dist/1_0_Milestone1$ "https\:\/\/github\.com\/downloads\/ceylon\/ceylon-dist\/ceylon-0\.1\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone1_deb$ "https\:\/\/github\.com\/downloads\/ceylon\/ceylon-dist\/ceylon-0\.1_0\.1_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone1_rpm$ "https\:\/\/github\.com\/downloads\/ceylon\/ceylon-dist\/ceylon-0\.1\.0-0\.noarch\.rpm" [R=302,L]
RewriteRule ^plus$ "https\:\/\/plus\.google\.com\/u\/0\/102481741611133754149" [R=302,L]
RewriteRule ^\+$ "https\:\/\/plus\.google\.com\/u\/0\/102481741611133754149" [R=302,L]
RewriteRule ^community/forum$ "http://groups.google.com/group/ceylon-users" [R=302,L]