Options +FollowSymlinks
RewriteEngine on

IndexIgnore *
DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteCond %{HTTP_HOST} ^ceylon-lang.org$ [OR]
RewriteCond %{HTTP_HOST} ^ceylon.beanvalidation.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.ceylon-lang.org$ [OR]
RewriteCond %{HTTP_HOST} ^staging.ceylon-lang.org$

# Redirect old /documentation links to /documentation/current
RewriteRule ^documentation$ /documentation/current$1
RewriteRule ^documentation/$ /documentation/current$1
RewriteRule ^documentation/index.html$ /documentation/current$1
RewriteRule ^documentation/faq(.*)$ /documentation/current/faq$1
RewriteRule ^documentation/ide(.*)$ /documentation/current/ide$1
RewriteRule ^documentation/introduction(.*)$ /documentation/current/introduction$1
RewriteRule ^documentation/presentation(.*)$ /documentation/current/presentation$1
RewriteRule ^documentation/reference(.*)$ /documentation/current/reference$1
RewriteRule ^documentation/roadmap(.*)$ /documentation/current/roadmap$1
RewriteRule ^documentation/spec(.*)$ /documentation/current/spec$1
RewriteRule ^documentation/tour(.*)$ /documentation/current/tour$1

# Redirect /documentation/current to /documentation/1.0
RewriteRule ^documentation/current(.*)$ /documentation/1.0$1 [L]

# Redirect improper URL for stephane epardaud to correct one
RewriteRule ^blog/authors/styephane-yepardaud(.*)$ /blog/authors/stephane-epardaud$1

# Redirect download links to our download site
RewriteRule ^download/dist/1_0_Milestone1$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.1\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone1_deb$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.1_0\.1_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone1_rpm$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.1\.0-0\.noarch\.rpm" [R=302,L]

RewriteRule ^download/dist/1_0_Milestone2$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.2\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone2_deb$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.2_0\.2_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone2_rpm$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.2\.0-0\.noarch\.rpm" [R=302,L]

RewriteRule ^download/dist/1_0_Milestone3$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.3\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone3_deb$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.3_0\.3_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone3_rpm$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.3\.0-0\.noarch\.rpm" [R=302,L]

RewriteRule ^download/dist/1_0_Milestone3_1$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.3\.1\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone3_1_deb$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.3\.1_0\.3\.1_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone3_1_rpm$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.3\.1-0\.noarch\.rpm" [R=302,L]

RewriteRule ^download/dist/1_0_Milestone4$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.4\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone4_deb$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.4_0\.4_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone4_rpm$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.4\.0-0\.noarch\.rpm" [R=302,L]

RewriteRule ^download/dist/1_0_Milestone5$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.5\.zip" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone5_deb$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.5_0\.5_all\.deb" [R=302,L]
RewriteRule ^download/dist/1_0_Milestone5_rpm$ "http\:\/\/downloads\.ceylon-lang\.org\/cli\/ceylon-0\.5\.0-0\.noarch\.rpm" [R=302,L]

# Redirect social network links
RewriteRule ^plus$ "https\:\/\/plus\.google\.com\/u\/0\/102481741611133754149" [R=302,L]
RewriteRule ^\+$ "https\:\/\/plus\.google\.com\/u\/0\/102481741611133754149" [R=302,L]

# Redirect user forum to Google Groups
RewriteRule ^community/forum$ "http://groups.google.com/group/ceylon-users" [R=302,L]
