---
layout: default
title: Welcome to Ceylon
tab: home
author: Emmanuel Bernard
---
#core-page
  :markdown
    # #{page.title}
    Ceylon is a JVM based programming language.
    
    ## What?
    Ceylon is a general-purpose, imperative, statically-typed, block-structured, 
    object-oriented, higher-order language featuring a syntax similar to 
    Java and C#.
    
    Since 'Hello World' is the traditional way of introducing a language, 
    here's how it looks in Ceylon:
    
    <pre class="brush: ceylon">
    void hello() {
        writeLine("Hello, World!");
    }
    </pre>
    
    To see more, take a look at our [quick introduction](/documentation/introduction) 
    or take a more in depth [tour of Ceylon](/documentation/tour).
    
    ## Why?
    Ceylon is deeply influenced by Java and designed by people who are 
    unapologetic fans of Java. It keeps the best bits from Java but 
    improves those aspects that experience has shown to to be annoying, 
    tedious and frustrating.
  
    ## When?
    Right now there is no working implementation of Ceylon: The language 
    exists as a specification that is pretty stable. Progress is being made 
    towards the first milestone of a 3 milestone plan that will deliver a 
    working toolset (including compiler, application launcher and 
    documentation generator amongst others) targetting Java Virtual Machine.  
    Currently the development is not open source, but once we have a working 
    implementation it will be available under the GPL2.
    
    For more details, see the [roadmap](/documentation/roadmap).
  
#sidebar
  .sidebar-block
    :markdown  
      ### Latest release: no latest release
      Ceylon has not yet been released, [check out our roadmap](/documentation/roadmap)
  .sidebar-block
    :markdown
      ### Twitter news
      \#ceylon is interesting @emmanuelbernard
