---
layout: home
title: Welcome to Ceylon
tab: home
unique_id: homepage
author: Emmanuel Bernard
---
%table#newsbar
  %tr
    %td#newsbar-text
      :markdown
        September 13, 2016: [Ceylon 1.3.0][1.3.0] and Ceylon IDE 1.3.0 for 
        [Eclipse](/documentation/current/ide/eclipse/features) and 
        [IntelliJ](/documentation/current/ide/intellij/features) 
        are now [available][download]!<br/>
        This is a major release with Android support and many bug fixes.
        
        [download]: /download?utm_source=news&utm_medium=web&utm_content=download&utm_campaign=latestrelease
        [1.3.0]: /blog/2016/09/13/ceylon-1-3-0/
    %td#newsbar-services
      %p.bar
        %a{:href=>'/blog/'}
          %i{:class=>'fa fa-rss-square fa-2x', :alt=>'Blog', :height=>'32', :width=>'32'}
        &nbsp;
        %a{:href=>'/+'}
          %i{:class=>'fa fa-google-plus-square fa-2x', :alt=>'Google Plus', :height=>'32', :width=>'32'}
        &nbsp;
        %a{:href=>'http://twitter.com/ceylonlang'}
          %i{:class=>'fa fa-twitter-square fa-2x', :alt=>'Twitter', :height=>'32', :width=>'32'}
        &nbsp;
        %a{:href=>'https://www.facebook.com/ceylonlang'}
          %i{:class=>'fa fa-facebook-square fa-2x', :alt=>'Facebook', :height=>'32', :width=>'32'}
        &nbsp;
        %a{:href=>'/community/events/'}
          %i{:class=>'fa fa-calendar fa-2x', :alt=>'Events', :height=>'32', :width=>'32'}
        
.action-bubbles
  .bubble
    .point-light-top 
      &nbsp;  
    .bubble-block.fixed-vertical-bubble
      :markdown
        ## GROK IT

        Ceylon is a **language for writing large programs in 
        teams.** To learn more, read the 15 minute 
        [quick intro](/documentation/current/introduction/),
        before taking the [tour](/documentation/current/tour/)
        of the language.

      .bubble-bottom
        %a.bubble-button{ :href=>'/documentation/current/' }
          LEARN
        &nbsp;
        %a.bubble-button{ :href=>'http://try.ceylon-lang.org' }
          PLAY
    .point-light-bottom
      &nbsp;
  .bubble
    .point-light-top 
      &nbsp;  
    .bubble-block.fixed-vertical-bubble
      :markdown
        ## TRY IT OUT

        The best way to try it out is to download the IDE and 
        **write some code**. Then you can explore the modules in 
        [Ceylon Herd](https://herd.ceylon-lang.org/). 
        Or you can try it [online](http://try.ceylon-lang.org/).

      .bubble-bottom
        %a.bubble-button{ :href=>'/download/' }
          DOWNLOAD
        &nbsp;
        %a.bubble-button{ :href=>'https://herd.ceylon-lang.org/' }
          EXPLORE
      
    .point-light-bottom
      &nbsp;
  .bubble
    .point-light-top 
      &nbsp;  
    .bubble-block.fixed-vertical-bubble
      :markdown
        ## GET INVOLVED

        This is a **community** project. Everything we produce is 
        [open source](/code/licenses/) and all our work happens 
        **out in the open** on [GitHub](https://github.com/ceylon). 

      .bubble-bottom
        %a.bubble-button{ :href=>'/code/' }
          HACK
        &nbsp;
        %a.bubble-button{ :href=>'/community/' }
          PARTICIPATE
      
    .point-light-bottom
      &nbsp;
#ishas
  //CEYLON IS block
  //.hometitle-text
  //  %h1
  //    Ceylon is
  .action-bubbles
    .bubble
      .bubble-block-transparent.fixed-vertical-bubble
        :markdown
          ## POWERFUL
  
          Ceylon's powerful **flow-sensitive static type system** 
          catches many bugs while letting you express more, more 
          easily: **union and intersection types**, tuples, 
          function types, mixin inheritance, enumerated types, 
          and **reified generics**. 
    .bubble
      .bubble-block-transparent.fixed-vertical-bubble
        :markdown
          ## READABLE
  
          We spend more time reading other people's code than 
          writing our own. Therefore, Ceylon prioritizes 
          readability, via a **highly regular syntax**, support 
          for **treelike structures**, and elegant syntax sugar 
          where appropriate.
    .bubble
      .bubble-block-transparent.fixed-vertical-bubble
        :markdown
          ## PREDICTABLE
  
          Ceylon **controls complexity with clarity**. The 
          language eschews <!--cryptic syntax and--> magical 
          implicit features with ambiguous corner cases. The 
          compiler follows **simple, intuitive rules** and 
          produces **meaningful errors**.
  //CEYLON HAS block
  //.hometitle-text
  //  %h1
  //    Ceylon has
  .action-bubbles
    .bubble
      .bubble-block-transparent.fixed-vertical-bubble
        :markdown
          ## A PLATFORM
  
          Ceylon is a whole platform with a **modern SDK** designed 
          from scratch. It runs on both **Java** and **JavaScript** 
          virtual machines, bridging the gap between client and 
          server. Ceylon is **fully interoperable** with Java and 
          the Java SDK, and with JavaScript and its libraries.
    .bubble
      .bubble-block-transparent.fixed-vertical-bubble
        :markdown
          ## WITH MODULARITY
  
          Modularity is at the very core of the language, SDK, and 
          tooling. The compiler produces **module archives** which 
          are then distributed via a next-generation **repository 
          architecture** with **Ceylon Herd** as its social focus 
          point.
    .bubble
      .bubble-block-transparent.fixed-vertical-bubble
        :markdown
          ## AND TOOLING
  
          Static typing is the technology that enables **killer 
          tools**. Ceylon comes with a complete **command line 
          toolset**, and an awesome **Eclipse based IDE** with 
          searching, refactoring, quick fixes + assists, 
          autocompletion, debugging, and much more.
  #features_link
    %a.bubble-button{ :href=>'/features' } 
      SEE THE KEY FEATURES
    &nbsp;&nbsp;&nbsp;
    %a.bubble-button{ :href=>'/documentation/current/ide/intellij/features' } 
      FEATURES OF THE INTELLIJ IDE
    &nbsp;&nbsp;&nbsp;
    %a.bubble-button{ :href=>'/documentation/current/ide/eclipse/features' } 
      FEATURES OF THE ECLIPSE IDE
      
