---
layout: default
title: Home
tab: home
author: Emmanuel Bernard
---
#core-page
  :markdown
    Ceylon is a new language that's deeply influenced by Java, designed by people who are unapologetic fans of Java.
  
    So why a new language? Well, we've been designing and building frameworks and libraries for Java for ten years, and we know its limitations intimately. And we're frustrated. The number one technical problem that we simply can't solve to our satisfaction in Java - or in any other existing JVM language - is the problem of defining user interfaces and structured data using a typesafe, hierarchical syntax. Without a solution to this problem, Java remains joined at the hip to XML.
  
    But much of our frustration is not even with the Java language itself. The extremely outdated class libraries that form the Java SE SDK are riddled with problems. Developing a great SDK is a top priority of the project.
  
    <pre class="brush: ceylon">
    shared class Hello(String name) {
      shared String name = name;
    }
    </pre>
  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ornare odio. Proin a ante eget tellus adipiscing vestibulum. Integer at fringilla urna. Praesent rhoncus posuere justo, at ultricies turpis ultricies at. Integer nunc erat, iaculis ut pulvinar in, feugiat vitae eros. Nullam tincidunt velit sed mauris fringilla sit amet pellentesque felis pellentesque. Cras varius convallis odio non commodo. Duis sit amet consectetur eros. Mauris in erat sit amet sapien interdum egestas. Fusce dui elit, elementum at iaculis nec, vestibulum sit amet purus. Phasellus auctor erat eget ante faucibus sed interdum nunc varius. Praesent nec augue id tortor luctus rhoncus. Morbi varius nisl lobortis magna fringilla cursus.

    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur consequat, quam in blandit ullamcorper, diam libero dapibus nulla, nec vulputate turpis lacus vel odio. Fusce dictum mi vitae felis malesuada commodo. In hac habitasse platea dictumst. Curabitur mattis gravida enim, vel pulvinar sem faucibus et. Quisque pellentesque fermentum ligula ac imperdiet. In tincidunt bibendum diam et imperdiet. Proin molestie fringilla quam vitae pellentesque. Curabitur mollis tincidunt sapien sit amet blandit. Aliquam enim nulla, interdum nec viverra in, blandit imperdiet risus. Donec pulvinar libero non ipsum condimentum ut euismod turpis sodales. Vestibulum quis nulla libero. Donec elit enim, mollis in euismod a, laoreet ac ante. Etiam rutrum commodo metus, ac pharetra turpis commodo in. Nulla quam libero, lacinia commodo tincidunt tristique, lobortis id urna. In eros tellus, lobortis non vestibulum quis, vehicula et nunc. Cras ipsum tortor, consectetur quis ullamcorper a, faucibus at odio. Duis semper, magna eget ullamcorper auctor, lorem lacus pulvinar nulla, et congue nunc leo non tortor. Donec venenatis sagittis sem, quis rhoncus mi venenatis vitae. Donec egestas varius risus eget interdum.
    
#sidebar
  .sidebar-block
    :markdown  
      ### Latest release: no latest release
      Ceylon has not yet been released, [check out our roadmap](/documentation/roadmap)
  .sidebar-block
    :markdown
      ### Twitter news
      \#ceylon is interesting @emmanuelbernard
