---
layout: default
title: Welcome to Ceylon
tab: home
unique_id: homepage
author: Emmanuel Bernard
---
%table#newsbar
  %tr
    %td#newsbar-text
      :markdown
        Ceylon M3 "V2000" and Ceylon IDE M3 are available - [read about it][read] and [download it now][download].
        [download]: /download?utm_source=news&utm_medium=web&utm_content=download&utm_campaign=latestrelease
        [read]: /blog/2012/06/25/ceylon-m3-v2000?utm_source=news&utm_medium=web&utm_content=blog&utm_campaign=latestrelease
    %td#newsbar-services
      %p.bar
        %a{:href=>'/blog/'}
          %img{:src=>'/images/services/rss_32.png'}
        &nbsp;
        %a{:href=>'http://twitter.com/ceylonlang'}
          %img{:src=>'/images/services/twitter_32.png', :alt=>'Twitter'}
        &nbsp;
        %a{:href=>'/+'}
          %img{:src=>'/images/services/google_plus_32.png', :alt=>'Google Plus'}
        &nbsp;
        %a{:href=>'/community/events/'}
          %img{:src=>'/images/services/calendar.png', :alt=>'Events', :height=>'32', :width=>'32'}
        
.action-bubbles
  #bubble
    .point-light-top 
      &nbsp;  
    .bubble-block.fixed-vertical-bubble
      :markdown
        ## Grok Ceylon

        To get a feeling of Ceylon, start with the 15 mins [**intro**](/documentation/current/introduction/)
        then dive into the 2h [**tour**](/documentation/current/tour/).

        Make sure to follow our [**blog**](/blog/) to stay up to date.

      .bubble-bottom
        %a.bubble-button{ :href=>'/documentation/current/' }
          Get Documentation
    .point-light-bottom
      &nbsp;
  #bubble
    .point-light-top 
      &nbsp;  
    .bubble-block.fixed-vertical-bubble
      :markdown
        ## Try Ceylon

        The best way to try is to **download our [IDE](/documentation/current/ide/)**. You can also expore 
        our set of **modules** in [Ceylon Herd](http://modules.ceylon-lang.org/). 
        You can even try Ceylon code snippets [**online**](http://try.ceylon-lang.org/) from your comfy chair.

      .bubble-bottom
        %a.bubble-button{ :href=>'/download/' }
          Download
        &nbsp;
        %a.bubble-button{ :href=>'http://modules.ceylon-lang.org/' }
          Get Modules
      
    .point-light-bottom
      &nbsp;
  #bubble
    .point-light-top 
      &nbsp;  
    .bubble-block.fixed-vertical-bubble
      :markdown
        ## Get involved

        We looooove contribution. Everything is [**open source**](/code/licenses/) and done
        in the open in Git. Compiler, SDK, Herd: find your sweet.

      .bubble-bottom
        %a.bubble-button{ :href=>'/code/' }
          Participate
      
    .point-light-bottom
      &nbsp;
//CEYLON IS block
.hometitle
  #bubble.titlebar
    %hr
  #bubble.hometitle-text
    %h1
      Ceylon is
  #bubble.titlebar
    %hr 
.action-bubbles
  #bubble
    .bubble-block-transparent.fixed-vertical-bubble
      :markdown
        ## Powerful

        Ceylon probably has one of the most **powerful type system** letting you
        express much more things than Java: **Union types**, intercection types, 
        high order functions. And Ceylon remains **fully interoperable** with Java.
  #bubble
    .bubble-block-transparent.fixed-vertical-bubble
      :markdown
        ## Readable

        Code is read much more often than written.  
        Ceylon focuses on readability
        via its extremely **regular syntax**, support for **treelike structures**, 
        explicit keywords and more.
  #bubble
    .bubble-block-transparent.fixed-vertical-bubble
      :markdown
        ## Predictable

        Ceylon is **unambiguous**, use a regular syntax,
        uniform rules, limits polluting choices and enforces **safety** at the 
        type system and compiler level. The type system prevents any
        **NullPointerException** and ClassCastException for example.
//CEYLON HAS block
.hometitle
  #bubble.titlebar
    %hr
  #bubble.hometitle-text
    %h1
      Ceylon has
  #bubble.titlebar
    %hr
.action-bubbles
  #bubble
    .bubble-block-transparent.fixed-vertical-bubble
      :markdown
        ## a Platform

        Ceylon is not only a language but a whole platform bringing a **modern SDK**.
        Ceylon runs on multiple backends: the **JVM** and **JavaScript** bringing the gap
        between clients and servers.
  #bubble
    .bubble-block-transparent.fixed-vertical-bubble
      :markdown
        ## Modularity

        Modularity is built at the core of the **language, SDK and tooling**.
        Ceylon compiles **modules** which are be published a **next-generation
        repository** called [Ceylon Herd](http://modules.ceylon-lang.org)
        bringing **social** to the community.
  #bubble
    .bubble-block-transparent.fixed-vertical-bubble
      :markdown
        ## Tooling

        Ceylon has been designed with **toolability** in mind. It comes with a 
        fully-fledged **Eclipse based [IDE](/documentation/current/ide/)**, **compiler**,
        debugger and documentation tool. Ceylon will come with a **build system**
        natively understanding modularity.
