#footer
  #footer-core
    #sponsor
      %a{:href=>"http://www.eclipse.org", :title=>"Eclipse Ceylon is an Eclipse Project"}<
        %img{:src=>"/images/Eclipse2014_RGB.svg", :width=>"150px"}
      %span
        Eclipse Ceylon is an <a href="http://www.eclipse.org">Eclipse Project</a>.
    #copyright
      :markdown
        Copyright &copy; 2010-#{Time.now.strftime( '%Y' )}, 
        Red Hat, Inc. or third-party contributors &mdash;
        Ceylon is a trademark of the [Eclipse Foundation](http://www.eclipse.org) &mdash; 
        [Terms of use](https://eclipse.org/legal/termsofuse.php) &mdash; 
        [Privacy policy](https://eclipse.org/legal/privacy.php) &mdash; 
        [Copyright agent](http://www.eclipse.org/legal/copyright.php) &mdash; 
        [Legal](http://www.eclipse.org/legal).
      - if site.dev
        :markdown
          Found an issue? [Help improve the site](/code/website).
      :markdown
        Site generated on #{Time.now.strftime( '%B %d, %Y at %H:%M' )} 
