#footer
  #footer-core
    #copyright
      :markdown
        Copyright &copy; 2010-2011, Red Hat, Inc. or third-party contributors - 
        Ceylon is a trademark of Red Hat Inc. - [terms of Use](http://www.redhat.com/legal/legal_statement.html) - [Privacy policy](http://www.redhat.com/legal/privacy_statement.html)
      - if site.dev
        :markdown
          Found an issue? [Help improve the site](/code/website).
      :markdown
        Site generated #{Time.now.strftime( '%B %d, %Y at %H:%M' )} 