#footer
  #footer-core
    #sponsor
      %a{:href=>"http://www.redhat.com", :title=>"Ceylon is sponsored by Red Hat"}<
        %img{:src=>"/images/companies/RedHat-white.svg", :width=>"150px"}
      %span
        Ceylon is sponsored by <a href="http://www.redhat.com">Red Hat</a>.
    #copyright
      :markdown
        Copyright &copy; 2010-#{Time.now.strftime( '%Y' )}, 
        Red Hat, Inc. or third-party contributors &mdash;
        Ceylon is a trademark of Red Hat, Inc. &mdash; 
        [Terms of use](http://www.redhat.com/legal/legal_statement.html) &mdash; 
        [Privacy policy](http://www.redhat.com/legal/privacy_statement.html)
      - if site.dev
        :markdown
          Found an issue? [Help improve the site](/code/website).
      :markdown
        Site generated #{Time.now.strftime( '%B %d, %Y at %H:%M' )} 