#footer
  #footer-core
    #copyright
      :markdown
        Site generated #{Time.now.strftime( '%d %B %Y at %H:%M' )} - Copyright Red Hat Inc. 2010-2011 - 
        Ceylon is a trademark of Red Hat Inc.
      - if site.dev
        :markdown
          Found an issue? [Help improve the site](/code/website).