---
title: The Ceylon team
layout: community
tab: community
author: Emmanuel Bernard
---
%h1 #{page.title}

- members = site.team.values.sort{|l,r| l.level <=> r.level}
- for member in members
  %h2 #{member.name}
  .teammember
    .teammemberphoto
      %img{:src=>member.photo, :height=>"150px", :width=>"150px"}
    .teammemberbio
      #{member.content}
    