// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/utilities/lists";
@import "compass/utilities/links/link-colors";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

$space-after-home-lines: 2.5em;

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box

  font-size:15px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2c2c2c;
  background-color: white;
  //text-shadow: white 1px 1px 0px;
  
  h1 {
    color: $h1_text_color;
    font-size: 1.6em;
    font-weight:bold;
  }
  h2 {
    font-size:1.3em;
    font-weight:bold;
    color: #255A5F;
    clear: left;
    margin-top: 0.6em;
  }
  h3, h4, h5, h6 {
    color: $h3plus_text_color;
  }
  h3 {
    font-size:1.2em;
    font-weight:bold;
  }
  h4, h5 {
    font-size:1.1em;
  }
  h6 {
    font-size:100%;
  }
  
  p {
    margin-top:1em;
    margin-bottom:1em;
    line-height:1.45em;
  }

  ul, ol {
    margin-top:0.2em;
    margin-bottom:0.2em;
    li {
      margin-top:0.3em;
      margin-bottom:0.3em;
    }
  }
  
  pre,
  .syntaxhighlighter .lines,
  {
    //background-color:#f5f5f5;
    //border: 1px solid #d5d8d3;
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    border-left: 5px solid #f0f0f0;
    padding-left: 10px;
    font-family:Menlo, Monaco, 'Andale Mono', Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-style:normal;
    font-size:85%;
  }
  
  p code, ul code, ol code {
    font-family:Menlo, Monaco, 'Andale Mono', Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-style:normal;
    font-size:90%;
    color:#2E5C00;
  }
  
  //Home news info
  
  .news_entry {

    margin-bottom:0;
    padding-bottom:0;

    p {
      margin-bottom:0px;
    }

    h4 {
      background: url("../images/bullet_elephant.png") no-repeat 0px 0px;
      min-height: 24px;
      padding-left: 36px;
      font-weight: normal;
      margin-bottom:0;
      padding-bottom:0;
    }

    hr {
      margin-top:20px;
      margin-bottom :20px;
      background-color: white;
    }
  
    .news_date {
      padding-left: 36px;
      font-size: 80%;
    }
  
    .news_detail {
      padding-top: 10px
    }
  }
}

form.bp {
  @include blueprint-form; 
}

// Various header style
.header-bar {
  background: url("../images/bkg_header.png") repeat-x;
}

#header {
  height: 100px;
  width: 950px;
  margin: auto;
  
  
  #header-logo {
    background: url("../images/ceylon-logo.png") no-repeat 0px 0px;
    height: 100px;
    width: 325px;
    display:block;
    float: left;

    h1 {
      text-indent: -9999px;
      font-weight: normal;
      margin: 0;
      text-shadow: none;
    }
  }
  
  #header-tagline {
    width: 10px;
    float: left;
    text-indent: -9999px;
    display:block;
  }
  
  #menu {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    float: right;
    margin-top: 70px;
    width: 600px;
  
    #menu-core {
      font-size:110%;
      padding:0 15 0 0;
      margin:0;
      list-style-type: none;
      float: right;
      li:hover {
        cursor:pointer;
      }
      
      li {
        margin-top: 0;
      }

      li#selected a {
        background: url("../images/nav_indicator.png") no-repeat center 15px;
        color: #FFFFFF;
        height: 30px;
      }

      li {
        text-align:center;
        position:relative;
        text-align:center;
        display: inline-block;
        padding: 0 12px;
        height: 2em;
      }

      a {
        display:block;
        color:#d4e5e5;
        font-weight: bold;
        text-decoration: none;
        text-align:center;
        text-shadow: none;
      }

      li:hover a {
        color: #94aebd;
      }
    }
  }
}


// banner related styles

#banner #code {
  display: none;
}

.homepage #banner {
  position: relative;
  width: 900px;
  margin: 0 auto;
  height: 270px;
 
  #elephant {
    position: absolute;
    left: -20px;
    height: 260px;
    width: 370px;
    background: url("../images/ceylon_homebanner_elephant.png") no-repeat center top;
  }
 
  #text {
    position: absolute;
    top: 20px;
    width: 600px;
    right: 0;
    background: url("../images/ceylon_homebanner_text.png") no-repeat center top;
  }
 
  #code {
    display: block;
    position: absolute;
    width: 475px;
    height: 170px;
    background: rgba(12, 31, 31, 0.9);
    top: 80px;
    right: 0;
    border-radius: 15px;
    padding: 1em 2em 1em 2em;
    color: white;
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;

    pre {
      background: none;
      margin: 0;
      border: none;
      padding: 0;
      code {
        font-family:'Courier New', 'Andale Mono', Consolas, 'Bitstream Vera Sans Mono', Courier, monospace;
        font-weight: bold;
        font-size: 17px;
        font-weight: bold;
        text-shadow: none;
        line-height: .99em;
        .code_type {
          color: #D98BD6;
        }
        .code_string {
          color:#88AEFF;
        }
      }
    }

  }
}

.homepage {
  background: url("../images/bkg_home.png") repeat-x center 100px;
}
.homepage #banner #elephant {
  background: url("../images/ceylon_homebanner_elephant.png") no-repeat center top;
  height:260px;
}

.homepage #banner #text {
  background: url("../images/ceylon_homebanner_text.png") no-repeat center top;
  height:260px;
}

.docspage {
  background: url("../images/bkg_section.png") repeat-x center 100px;
}

.docspage #banner {
  background: url("../images/sectionbanner_learn.png") no-repeat center top;
  height:90px;
}

.downloadpage {
  background: url("../images/bkg_section.png") repeat-x center 100px;
}

.downloadpage #banner {
  background: url("../images/sectionbanner_download.png") no-repeat center top;
  height:90px;
}

.communitypage {
  background: url("../images/bkg_section.png") repeat-x center 100px;
}

.communitypage #banner {
  background: url("../images/sectionbanner_community.png") no-repeat center top;
  height:90px;
}

.codepage {
  background: url("../images/bkg_section.png") repeat-x center 100px;
}

.codepage #banner {
  background: url("../images/sectionbanner_code.png") no-repeat center top;
  height:90px;
}

.blogpage {
  background: url("../images/bkg_section.png") repeat-x center 100px;
}

.blogpage #banner {
  background: url("../images/sectionbanner_blog.png") no-repeat center top;
  height:90px;
}

//newsbar


// primary content style
#primary-content {
  position:relative;
  top:2em;
  @include container;
  #core-page {
    @include column(16);
  }

  #ishas {
    background: #E6E7E8;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 1em 1.5em 0 1.5em;
    padding: 25px;
    .hometitle-text {
      padding-top: 1em;
    }
    .bubble {
      display: inline-block;
      width: 280px;
    }
    .bubble-block-transparent {
      padding: 0;
    }
  }

  .bubble {
    display: inline-block;
    width: 313px;
    vertical-align: top;
    text-shadow: white 1px 1px 0px;
  }

  .bubble-block {
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 15px;
    padding:1.5em;
    margin:0em 1.75em;
    border-left: 1px solid #c7d8d8;
    border-right: 1px solid #c7d8d8;
    background: url("../images/sidebar_bkg_elephant.png") no-repeat 0px 0px #d4e5e5;
    
    strong {
      font-weight:boldest;
    }
    
    h3 {
      color: #456B6E;
    }
    
    h2 {
      margin-top: 0;
      text-align: center;
    }
    
    p {
      line-height: 1.2em;    
    }
  }

  .bubble-block-transparent {
    color: #3e4747;
    font-size: 15px;
    padding:1.5em;
    margin:0em 1.75em;

    strong {
      font-weight: bold;
    }
    
    h2 {
      text-align: left;
      font-size: 16px;
      color: #3e4747;
      margin-top: 0;
    }
    
    h3 {
      margin: 1em 0;
    }
    h3:first-child {
      margin-top: 0;
    }
    h3:last-child {
      margin-bottom: 0;
    }

    h4 {
      margin: 0.5em 1em;
    }
    
    p {
      margin-bottom: 1em;
      line-height: 1.2em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .fixed-vertical-bubble {
    height: 180px;
    position:relative;
  }

  //from http://css3buttongenerator.com/
  .bubble-button {
    //font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 7px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #255A5F;
    border: solid #368D73 1px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#82CDBA), to(#368D73));
    background: -moz-linear-gradient(top, #82CDBA, #368D73);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#82CDBA, endColorStr=#368D73);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#82CDBA, endColorStr=#368D73);
    display:inline-block; /* IE is so silly */
  }

  .bubble-button:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6BAE9D), to(#368D73));
    background: -moz-linear-gradient(top, #6BAE9D, #368D73);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#6BAE9D, endColorStr=#368D73);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#6BAE9D, endColorStr=#368D73);
  }

  .bubble-bottom {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 220px;
  }

  .bubbleline {
    @include column(24, true);
  }

  .hometitle {
    @include column(24, true);
    margin-top: $space-after-home-lines;
    //margin-bottom: 5em;
  }
  .hometitle-text {
    text-align: left;
    margin-left: 1.6em;
    h1 {
      font-size: 21px;
    }
  }

  .titlebar {
    margin-top:1em;
  }

  #newsbar {
    width: 900px;
    margin-bottom: $space-after-home-lines;
    margin-left: 1.75em;
    height: 2em;
    
    h3 {
      color: white;
      margin: 1em 0;
    }
    
    h3:first-child {
      margin-top: 0;
    }

    h3:last-child {
      margin-bottom: 0;
    }

    h4 {
      margin: 0.5em 1em;
    }
    
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-shadow: #656565 1px 1px 0px;
    padding: 0.5em 1.5em;
    //margin:0em 1.75em;
    background-color: #255A5F;

    p {
      color: white;
      margin-bottom: 1em;
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: white;
    } 

    #newsbar-text {
    }

    #newsbar-services {
      text-align: right;
      a {
        text-decoration: none;
      }
    }
  }
  
  #sidebar {
    @include column(8,true);
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    #feed {
      padding-left: 34px;
      background: url("../images/feed_icon.png") no-repeat 0px 0px;
      height: 26px;
    }
  }

  .sidebar-block {
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 14px;
    text-shadow: white 1px 1px 0px;
    padding:1.5em;
    margin:0em 1.75em;
    border-left: 1px solid #c7d8d8;
    border-right: 1px solid #c7d8d8;
    background: url("../images/sidebar_bkg_elephant.png") no-repeat 0px 0px #d4e5e5;
    
    h3 {
      font-size: 16px;
      color: #456B6E;
    }
    
    li {
      font-size: 12px;
    }
    
    ul {
      margin-bottom:1em;
    }
    
  }

  .sidebar-dark {
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 14px;
    //text-shadow: #656565 1px 1px 0px;
    padding:1.5em;
    margin:0em 1.75em;
    background-color: #121f1f;
    color: white;
    text-style:normal;
    
    h3 {
      color: white;
      margin: 0.8em 0;
    }
    h3:first-child {
      margin-top: 0;
    }
    h3:last-child {
      margin-bottom: 0;
    }
    
    h4 {
      margin: 0.5em 1em;
    }
    
    p {
      color: white;
      margin-bottom: 0.8em;
    }
    p:last-child {
      margin-bottom: 0;
    }
    
    li {
      font-size: 12px;
      padding: 1px;
      margin: 0;
    }
    li a {
      text-decoration:none;
    }
    
    ol {
      margin-bottom: 0;
    }
    
    a {
      color: white;
      font-weight:normal;
    }
    a:hover {
      color: #d5d5d5;
    }
  }
}

.expandable {
  overflow:hidden;
}

.point-dark-top {
  background: url("../images/sidebar_dark_top.png") no-repeat bottom center;
  height: 15px;
}

.point-dark-bottom {
  background: url("../images/sidebar_dark_bottom.png") no-repeat top center;
  height: 15px;
}

.point-dark-end {
  background: url("../images/sidebar_dark_end.png") no-repeat top center;
  height: 40px;
}

.point-light-top {
  background: url("../images/sidebar_light_top.png") no-repeat bottom center;
  height: 15px;
}

.point-light-bottom {
  background: url("../images/sidebar_light_bottom.png") no-repeat top center;
  height: 15px;
}

.point-light-end {
  background: url("../images/sidebar_light_end.png") no-repeat top center;
  height: 40px;
}

// Footer style
.footer-bar {
  background-color: #656565;
  border-top: 3px solid #424242;
  position:relative;
  top:5em;
  clear:both;
}
#footer {
  @include container;
  overflow:hidden;
  #footer-core {
    display:block;
    #copyright {
      padding:2em 0;
      font-size:.75em;
      color: #d5d5d5;
      text-shadow: rgba(66, 66, 66, 0.3) 1px 1px 0px;
      @include column(24, true);
    }  
  
    #copyright p {
      margin: 0px;
    }

    #copyright a {
      padding-bottom: 100px;
      font-size:.75em;
      color: #8eb1de;
      text-shadow: rgba(66, 66, 66, 0.3) 1px 1px 0px;
    }
    
    #copyright :hover {
      color: #666666;
   }
  }  
}

//Upcoming talks

#upcoming-talks {
  .item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $post_tail_border_color;
  }
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    font-size: 160%;
    border-bottom: 1px solid $top_nav_border_color;
  }
  h2 {
    font-size: 120%;
    margin-bottom: 0px;
    a {
      text-decoration: none;
    }
  }
  h3 {
    font-size: 100%;
  }
  .event_details {
    float: right;
    font-weight: bold;
    text-align: right;
  }
  img.event_logo {
    clear: both;
    max-width: 200px;
    display:block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .details {
    clear: both;
    margin-bottom: 1ex;
  }
  .links {
    text-align: right;
    font-weight: bold;
  }
}


//News index and posts

.post {
  clear:both;
  margin-bottom: 2em;
  padding-bottom: 15px;
  background: url("../images/blogpost_divider.png") no-repeat bottom;
  line-height: 1.5em;
  h1.title {
    //font-size: 125%;
    text-align:left;
    //font-weight: bold;
    margin-bottom: 0.5em;
    //margin-top:2em;
    a {
      text-decoration: none;
    }
  }
  .byline {
    margin-bottom: 2em;
    font-size: 90%;
    .date {
      display: inline;
      color: $post_date_color;
      margin-left: 1ex;
    }
    .author {
      font-weight: bold;
      display: inline;
    }
    .tags {
      display: inline;
      margin-left:1em;
      a {
        font-weight: bold;
        margin-right: 1ex;
        text-decoration: none;
      }
    }
  }
  .body {
    margin-bottom: 2em;
  }
  .comments {
    border-top: 1px solid $post_comments_border_color;
    margin-bottom: 2em;
  }
  .tail {
    background-color: $post_tail_background_color;
    border: 1px solid $post_tail_border_color;
    padding: .8ex;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
.pagination-links {
  margin-bottom: 1em;
  a {
    text-decoration: none;
  }
  a, .current-page, .slip {
    padding: .5ex;
    margin-right: .5ex;
  }
  a.page-link, .current-page, .previous-link, .next-link {
    border: 1px solid $pagination_border_color;
    background-color: #fbfafa;
  }
  .current-page {
    font-weight: bold;
  }
}
.post-navigation {
  margin-top:2em;
  line-height: 1.4em;
  margin-bottom: 2em;
  float:left;
  width:100%;
  .next, .previous {
    color: $post_nav_color;
    margin-bottom: 1em;
    display:inline;
    .label {
      font-weight: bold;
      display:inline;
      margin-right:1em;
    } 
   
    .nav-link {
      display:inline;
    }
    a {
      text-decoration: none;
      padding: 0px;
    }
  }
}

#post-nav-previous {
  float:left;
  width:50%;
}

#post-nav-next {
  float:right;
}

//Blog archive
#blog-archive {
  h4 {
    background: url("../images/bullet_elephant.png") no-repeat 0px 0px;
    min-height: 24px;
    padding-left: 36px;
    font-size:11px;
    color: #2c2c2c;
  }

  h4 a {
    font-size:15px;
  }
}

//Team page
.teammemberbio {
  font-size: 90%;
  display:inline;
  ul {
    list-style-position:inside;
  }
}

.teammemberphoto {
  float:left;
  margin: 0 20px 20px 0;
  display:inline;
}

// for Milestone indicators
div.milestone {
  float: right;
  display: block;
  font-weight: bold;
}

.milestone {
  background: #1a3c3d;
  padding: 0.2em 0.4em;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
 
  p {
    margin: 0 !important;
  }
  a {
    color: white !important;
    text-shadow: none;
  }
}

.milestone.future {
  background: red;
  a {
    text-shadow: #A00 1px 1px 0px;
  }
}

// for known issues
.known-issue {

  > b {
    margin-left: 0.5em;
  }

 .title {
    color: $h3plus_text_color;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 2em;
 }

  a.see {
    float: right;
    display: block;
    font-weight: bold;
    background: #1a3c3d;
    padding: 0.2em 0.4em;
    color: white !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
  }
 
  a.see.closed {
    background: red;
    text-shadow: #A00 1px 1px 0px;
  }
 
  a.see.open {
    background: green;
  }
 
 .workaround {
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 1em; 
  }
}

//NOT USED is it?
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; 
  }
  #header, #footer {
    @include column($blueprint-grid-columns); 
  }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); 
  }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); 
  } 
}

.tag-cloud ul {
  padding-left: 0em;
}
  
.tag-cloud li {
  list-style-type: none;
}
    
#dsq-content .dsq-toolbar-label {
  text-shadow: none;
}

/* Inline code editor */

.syntaxhighlighter.with-editor .lines {
 margin-right: 40px !important;
}

.syntaxhighlighter .bubble-button {
 display: block;
 position: absolute;
 right: 0;
 top: 0;
 width: 25px;
 cursor: pointer;
 text-align: center;
 padding: 2px 4px !important;
}

.ui-dialog {
 padding: 1em;
 background: white;
 border: 1px solid black;
 text-shadow: none;
}

.ui-widget-overlay {
 opacity: 0.8;
 top: 0px;
 position: absolute;
 background-color: gray;
}

.ui-dialog-titlebar {
 height: 2em;
 text-align: right;
}

iframe.code-editor {
 width: 100% !important;
}

p.screenshot {
 text-align: center;
 
 img {
  box-shadow: 0 0 1em black;
  margin: 1em;
 }
}

#milestones-progress {
    .milestone-progress {
        width: 400px;
        margin-bottom: 1em;
    }
    #milestone-overall {
        width: 600px;
    }
    .milestone-progress > * {
        margin-bottom: 0.5em;
    }
    .title {
        font-weight: bold;
        font-size: bigger;
    }
    .count {
        color: gray;
    }
    .progress-bar {
        height: 30px;
        border-radius: 3px;
        background: #E2E2E2;
        background: -moz-linear-gradient(#E2E2E2, #D8D8D8);
        background: -webkit-linear-gradient(#E2E2E2, #D8D8D8);
        background: linear-gradient(#E2E2E2, #D8D8D8);
    }
    .progress {
        position: relative;
        height: 30px;
        border-radius: 3px 0 0 3px;
        background: #8DCF16;
        background: -moz-linear-gradient(#8DCF16, #65BD10);
        background: -webkit-linear-gradient(#8DCF16, #65BD10);
        background: linear-gradient(#8DCF16, #65BD10);
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    }
    .progress .text {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}
