// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/utilities/lists";
@import "compass/utilities/links/link-colors";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  

	  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	  color: #2c2c2c;
	  text-shadow: white 1px 1px 0px;
	  background-color: #f1f1f1;
	    
  h1 {
    color: $h1_text_color;
  }

  h3, h4, h5, h6 {
    color: $h3plus_text_color;
  }
  
  h1 {
    
    font-size: 1.6em;
    font-weight:bold;
  }
  h2 {
    font-size:1.3em;
    font-weight:bold;
	color: #2a4a4c;

  }
  h3 {
    font-size:1.2em;
    font-weight:bold;
  }
  h4 {
    font-size:1.1em;
  }
  h5 {
    font-size:1.1em;
  }
  h6 {
    font-size:100%;
  }


  //Home news info
  
  
  .news_entry {

    margin-bottom:0;
    padding-bottom:0;

    p {
      margin-bottom:0px;

    }

    h4 {
	    background: url("../images/bullet_elephant.png") no-repeat 0px 0px;
		min-height: 24px;
      padding-left: 36px;
	  font-weight: normal;
      margin-bottom:0;
      padding-bottom:0;
	  

    }

    hr {
      margin-top:20px;
      margin-bottom :20px;
      background-color: white;
    }
	
	.news_date {
    padding-left: 36px;
	font-size: 80%;
	}
	
	.news_detail {
	padding-top: 10px
	}
	
  }
}

form.bp {
  @include blueprint-form; }

// Various header style
.header-bar {
  background: url("../images/bkg_header.png") repeat-x;
}

#header {
  height: 100px;
  width: 950px;
  margin: auto;
  
  
  #header-logo {
    background: url("../images/ceylon-logo.png") no-repeat 0px 0px;
	height: 100px;
	  width: 325px;
    display:block;
	  float: left;

    h1 {
	
	  text-indent: -9999px;
      font-weight: normal;
      margin: 0;
      text-shadow: none;
    }
  }
  
  #header-tagline {
  width: 10px;
  float: left;
  text-indent: -9999px;
  display:block;
   }
  
  #menu {
  float: right;
  margin-top: 70px;
  width: 600px;
  

    #menu-core {
      font-size:110%;
      padding:0 15 0 0;
      margin:0;
      list-style-type: none;
	  float: right;

		

      li:hover {
        cursor:pointer;
      }

      li#selected a {
	    background: url("../images/nav_indicator.png") no-repeat center 15;
        color: #FFFFFF;
		height: 30px;

      }  

      li {
        text-align:center;
        position:relative;
        text-align:center;
        display: inline-block;
        padding: 0 12px;
		height: 2em;

      }

      a {
        display:block;
        color:#d4e5e5;
        font-weight: bold;
        text-decoration: none;
        text-align:center;
		text-shadow: none;
      }

      li:hover a {
        color: #94aebd;
      }
      
    }
  }
}


// banner related styles


.homepage {
	    background: url("../images/bkg_home.png") repeat-x center 100px;
}
.homepage .banner {
	    background: url("../images/sectionbanner_home.png") no-repeat center top;
		height:260px;
}

.docspage {
	    background: url("../images/bkg_section.png") repeat-x center 100px;
}
.docspage .banner {
	    background: url("../images/sectionbanner_learn.png") no-repeat center top;
		height:90px;
}

.downloadpage {
	    background: url("../images/bkg_section.png") repeat-x center 100px;
}
.downloadpage .banner {
	    background: url("../images/sectionbanner_download.png") no-repeat center top;
		height:90px;
}

.communitypage {
	    background: url("../images/bkg_section.png") repeat-x center 100px;
}
.communitypage .banner {
	    background: url("../images/sectionbanner_community.png") no-repeat center top;
		height:90px;
}

.codepage {
	    background: url("../images/bkg_section.png") repeat-x center 100px;
}
.codepage .banner {
	    background: url("../images/sectionbanner_code.png") no-repeat center top;
		height:90px;
}

.blogpage {
	    background: url("../images/bkg_section.png") repeat-x center 100px;
}
.blogpage .banner {
	    background: url("../images/sectionbanner_blog.png") no-repeat center top;
		height:90px;
}


// primary content style
#primary-content {
  position:relative;
  top:2em;
  @include container;
  #core-page {
      @include column(16);
  }
  
  #sidebar {
      @include column(8,true);
      
      .sidebar-block {
        h3 {
          color: #456B6E;
        }
		
		-moz-border-radius: 15px;
		border-radius: 15px;
		font-size: 14px;
        padding:1.5em;
        margin:1.75em;
        margin-top:0em;
		border-left: 1px solid #c7d8d8;
		border-right: 1px solid #c7d8d8;
	    background: url("../images/sidebar_bkg_elephant.png") no-repeat 0px 0px #d4e5e5;
      }
	  
	  .sidebar-dark {
	  
        h3 {
          color: white;
        }
		
		#feed h3 a {
		   margin-left: 30px;
		   margin: 0px;
		}
		
		-moz-border-radius: 15px;
		border-radius: 15px;
		font-size: 14px;
		text-shadow: #656565 1px 1px 0px;
        padding:1.5em;
        margin:1.75em;
        margin-top:0em;
	    background-color: #121f1f;
	  
	    p {
          color: white;
		  margin-bottom: 0;
        }
		
		a {
          color: white;
        }		
	  }
	  
      .expandable {
        overflow:hidden;
      }
	    
	  .point-dark-top {
		background: url("../images/sidebar_dark_top.png") no-repeat bottom center;
		}
		
	  .point-dark-bottom {
		background: url("../images/sidebar_dark_bottom.png") no-repeat top center;
		}
		
      .point-dark-end {
		background: url("../images/sidebar_dark_end.png") no-repeat top center;
		}
		

	  .point-light-top {
		background: url("../images/sidebar_light_top.png") no-repeat bottom center;
		}
		
	  .point-light-bottom {
		background: url("../images/sidebar_light_bottom.png") no-repeat top center;
		}
		
      .point-light-end {
		background: url("../images/sidebar_light_end.png") no-repeat top center;
		}
		
  }
  
}

// Footer style
.footer-bar {
  background-color: #656565;
  border-top: 3px solid #424242;
  position:relative;
  top:5em;
  clear:both;
}
#footer {
  @include container;
  overflow:hidden;
  #footer-core {
    display:block;
    #copyright {
      padding-top:2em;
      font-size:.75em;
	  color: #d5d5d5;
	  text-shadow: rgba(66, 66, 66, 0.3) 1px 1px 0px;
      @include column(24, true);
    }  
	
		 #copyright p {
		 margin: 0px;
}

	 #copyright a {
	  padding-bottom: 100px;
      font-size:.75em;
	  color: #8eb1de;
	  text-shadow: rgba(66, 66, 66, 0.3) 1px 1px 0px;
	  }
	  
  	 #copyright :hover {
	 color: #666666;

	 }

    }  
  }

//Upcoming talks

#upcoming-talks {
  .item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $post_tail_border_color;
  }
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    font-size: 160%;
    border-bottom: 1px solid $top_nav_border_color;
  }
  h2 {
    font-size: 120%;
    margin-bottom: 0px;
    a {
      text-decoration: none;
    }
  }
  h3 {
    font-size: 100%;
  }
  .event_details {
    float: right;
    font-weight: bold;
    text-align: right;
  }
  img.event_logo {
    clear: both;
    max-width: 200px;
    display:block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .details {
    clear: both;
    margin-bottom: 1ex;
  }
  .links {
    text-align: right;
    font-weight: bold;
  }
}


//News index and posts

.post {
  clear:both;
  margin-bottom: 1em;
  border-bottom: 1px solid $post_border_color;
  line-height: 1.5em;
  h1.title {
    //font-size: 125%;
    text-align:left;
    //font-weight: bold;
    margin-bottom: 0.5em;
    //margin-top:2em;
    a {
      text-decoration: none;
    }
  }
  .byline {
    margin-bottom: 2em;
    font-size: 90%;
    .date {
      display: inline;
      color: $post_date_color;
      margin-left: 1ex;
    }
    .author {
      font-weight: bold;
      display: inline;
    }
    .tags {
      display: inline;
      margin-left:1em;
      a {
        font-weight: bold;
        margin-right: 1ex;
        text-decoration: none;
      }
    }
  }
  .body {
    margin-bottom: 2em;
  }
  .comments {
    border-top: 1px solid $post_comments_border_color;
    margin-bottom: 2em;
  }
  .tail {
    background-color: $post_tail_background_color;
    border: 1px solid $post_tail_border_color;
    padding: .8ex;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
.pagination-links {
  margin-bottom: 1em;
  a {
    text-decoration: none;
  }
  a, .current-page, .slip {
    padding: .5ex;
    margin-right: .5ex;
  }
  a.page-link, .current-page, .previous-link, .next-link {
    border: 1px solid $pagination_border_color;
  }
  .current-page {
    font-weight: bold;
  }
}
.post-navigation {
  margin-top:2em;
  line-height: 1.4em;
  margin-bottom: 2em;
  float:left;
  width:100%;
  .next, .previous {
    color: $post_nav_color;
    margin-bottom: 1em;
    display:inline;
    .label {
      font-weight: bold;
      display:inline;
      margin-right:1em;
    } 
	 
    .nav-link {
      display:inline;
    }
    a {
      text-decoration: none;
      padding: 0px;
    }
  }
}

#post-nav-previous {
  float:left;
  width:50%;
}

#post-nav-next {
  float:right;
}


//Blog archive
#blog-archive {
  h4 {
  font-size:10px;
  color: #2c2c2c;
}

 h4 a {
  font-size:14px;
}
}

//Team page
.teammemberbio {
  font-size: 90%;
  display:inline;
  ul {
    list-style-position:inside;
  }
}

.teammemberphoto {
  float:left;
  margin: 0 20px 20px 0;
  display:inline;
}

//Code for Markdown
body.bp {
 
  pre {
    background-color:#f5f5f5;
	border: 1px solid #d5d8d3;
	padding: 30px; 
	
    code {
      font-family:'Courier New', 'Andale Mono', Consolas, 'Bitstream Vera Sans Mono', Courier, monospace;
      font-style:normal;
      font-size:.99em;
      line-height:1em;
    }
  }
}

// for Milestone indicators
div.milestone {
 float: right;
 display: block;
 font-weight: bold;
}
.milestone {
 background: #1a3c3d;
 padding: 0.2em 0.4em;
 color: white;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 
 p {
  margin: 0 !important;
 }
 a {
  color: white !important;
  text-shadow: none;
 }
}

.milestone.future {
 background: red;
 a {
  text-shadow: #A00 1px 1px 0px;
 }
}

//NOT USED is it?
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }


.tag-cloud ul {
	padding-left: 0em;
	}
	
.tag-cloud li {
	list-style-type: none;
	}
		
	
	#dsq-content .dsq-toolbar-label {
	text-shadow: none;
	}