%html
  %head
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    %title
      &=#{site.title}: &=#{page.title}
    %link{ :rel=>'shortcut icon', :type=>'image/vnd.microsoft.icon', :href=>'/images/favicon.ico' }/
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }/
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }/
    %link{ :href=>"/stylesheets/sh/shCore.css", :rel=>"stylesheet", :type=>"text/css" }/
    %link{ :href=>"/stylesheets/sh/shThemeDefault.css", :rel=>"stylesheet", :type=>"text/css" }/
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }/
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sh/shCore.js"></script>
    <script type="text/javascript" src="/js/sh/shBrushJava.js"></script>
    <script type="text/javascript" src="/js/sh/shBrushCeylon.js"></script>
    :javascript
      SyntaxHighlighter.defaults['gutter'] = false;
      SyntaxHighlighter.all();
  %body.bp
    #container
      ~ content
      
  = page.disqus_comments_count
  = google_analytics
