---
layout: default
tab: to-be-defined
change_frequency: 0.6
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Licenses](/code/licenses)
      ### [Nightly builds](https://ci-ceylon.rhcloud.com/)
      ### [Get the source](/code/source)
      ### [Contribute](/code/contribute)
      ### [Improve the website](/code/website)
      ### [Report a bug](/code/issues)
  .point-dark-end 
    &nbsp;
#banner
  #text
    Code
#core-page
  ~ content
