---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Licenses](/code/licenses)
      ### [Get the source](/code/source)
      #### [Git project list](http://ceylon.github.com)
      ### [Improve the website](/code/website)
      ### [Report a bug](/code/issues)
  .point-dark-end 
    &nbsp;
#core-page
  ~ content