---
layout: default
tab: to-be-defined
---
#sidebar
  .sidebar-block
    :markdown  
      ### [Forum](/community/forum)
      ### [Events](/community/events)
      ### [Development mailing list](http://groups.google.com/group/ceylon-dev)
      ### [Team](/community/team)
#core-page
  ~ content