---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [User forum](/community/forum)
      ### [Events](/community/events)
      ### [Dev mailing list](http://groups.google.com/group/ceylon-dev)
      ### [Team](/community/team)
  .point-dark-end 
    &nbsp;
#core-page
  ~ content