---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [User forum](http://groups.google.com/group/ceylon-users)
      ### [Ceylon Tour Conference](/community/conferences/ceylon-tour-paris-2014)
      ### [Events](/community/events)
      ### [Dev mailing list](http://groups.google.com/group/ceylon-dev)
      ### [Team](/community/team)
      ### [Companies behind Ceylon](/community/companies)
  .point-dark-end
    &nbsp;
  <a href="/+" style="cursor:pointer;margin-left:auto;margin-right:auto;display:block;text-align:center;padding:50px">
  <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px;margin-top:8px;">Follow Ceylon on </span><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/>
  </a>
#core-page
  ~ content
