---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.0/introduction)
      ### [Tour of Ceylon](/documentation/1.0/tour)
      ### [Ceylon Walkthrough](/documentation/1.0/walkthrough)
      ### [Tutorial videos](/documentation/1.0/videos)
      ### [Language specification](/documentation/1.0/spec)
      ### [Reference](/documentation/1.0/reference)
      ### [Language module API](#{site.urls.apidoc_current}/index.html)  
      ### [FAQs](/documentation/1.0/faq)
      ### [Roadmap](/documentation/1.0/roadmap)
      ### [Ceylon IDE](/documentation/1.0/ide)
  .point-dark-end 
    &nbsp;
#banner
  #text
    Learn
#core-page
  ~ content