---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.0/introduction)
      ### [Tour of Ceylon](/documentation/1.0/tour)
      ### [Reference](/documentation/1.0/reference)
      #### [Specification](/documentation/1.0/spec)
      #### [API](/documentation/1.0/api/ceylon/language)
      ### [FAQs](/documentation/1.0/faq)
      ### [Roadmap](/documentation/1.0/roadmap)
      ### [Ceylon IDE](/documentation/1.0/ide)
  .point-dark-end 
    &nbsp;
  <a href='http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=185799' title='Drag and drop into a running Eclipse Indigo workspace to install Ceylon IDE' style="display:block;text-align:center;font-weight:bold;text-decoration:none;padding:50"> 
  <img src='http://marketplace.eclipse.org/misc/installbutton.png'/>
  <br/>Ceylon IDE
  </a>
#core-page
  ~ content