---
layout: default
tab: to-be-defined
priority: 0.95
change_frequency: monthly
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.3/introduction)
      ### [Tour of Ceylon](/documentation/1.3/tour)
      ### [Ceylon Walkthrough](/documentation/1.3/walkthrough)
      ### [Examples](/documentation/1.3/examples)
      <!--  ### [Tutorial videos](/documentation/1.3/videos) -->
      ### [Language specification](/documentation/1.3/spec)
      ### [Reference](/documentation/1.3/reference)
      ### [Language module API](#{site.urls.apidoc_1_3}/index.html)  
      ### [FAQs](/documentation/1.3/faq)
      ### [Roadmap](/documentation/1.3/roadmap)
      ### [Ceylon IDE for IntelliJ](/documentation/1.3/ide/intellij)
      ### [Ceylon IDE for Eclipse](/documentation/1.3/ide/eclipse)
      
      * [Features](/documentation/1.3/ide/eclipse/features)
      * [Installation](/documentation/1.3/ide/eclipse/install)
      * [Test plugin](/documentation/1.3/ide/eclipse/test-plugin)
      
  .point-dark-end 
    &nbsp;
#banner
  #text
    Learn
#core-page
  ~ content