---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/introduction)
      ### [Tour of Ceylon](/documentation/tour)
      ### [Reference](/documentation/reference)
      ### [FAQs](/documentation/faq)
      
      * [Common](/documentation/faq)
      * [Language design](/documentation/faq/language-design)
      
      ### [Roadmap](/documentation/roadmap)
      ### [Ceylon IDE](/documentation/ide)
  .point-dark-end 
    &nbsp;
  <a href='http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=185799' title='Drag and drop into a running Eclipse Indigo workspace to install Ceylon IDE' style="display:block;text-align:center;font-weight:bold;text-decoration:none;padding:50"> 
  <img src='http://marketplace.eclipse.org/misc/installbutton.png'/>
  <br/>Ceylon IDE
  </a>
#core-page
  ~ content