---
layout: default
tab: to-be-defined
---
#sidebar
  .sidebar-block
    :markdown  
      ### [Quick introduction](/documentation/introduction)
      ### [Tour of Ceylon](/documentation/tour)
      ### [Reference](/documentation/reference)
      ### [FAQs](/documentation/faq)
      
      * [Common](/documentation/faq)
      * [Language design](/documentation/faq/language-design)
      * [IDE](/documentation/faq/ide)
      
      ### [Roadmap](/documentation/roadmap)
#core-page
  ~ content