---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.0/introduction)
      ### [Tour of Ceylon](/documentation/1.0/tour)
      ### [Tutorial Videos](/documentation/1.0/videos)
      ### [Language specification](/documentation/1.0/spec)
      ### [Reference](/documentation/1.0/reference)
      ### [Language module API](#{site.urls.apidoc_1_0}/index.html)  
      ### [FAQs](/documentation/1.0/faq)
      
      * [Common](/documentation/1.0/faq)
      * [Language design](/documentation/1.0/faq/language-design)
      
      ### [Roadmap](/documentation/1.0/roadmap)
      ### [Ceylon IDE](/documentation/1.0/ide)
  .point-dark-end 
    &nbsp;
#banner
  #text
    FAQs
    %span{:style=>'color:#8d5e0b'} (1.0)
#core-page
  %h4 
    Note: information on this page refers to Ceylon 1.0, not to the 
    %a{:href=>'/documentation/current'} current release.
  ~ content