---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.3/introduction)
      ### [Tour of Ceylon](/documentation/1.3/tour)
      ### [Ceylon Walkthrough](/documentation/1.3/walkthrough)
      ### [Examples](/documentation/1.3/examples)
      <!-- ### [Tutorial Videos](/documentation/1.3/videos) -->
      ### [Language specification](/documentation/1.3/spec)
      ### [Reference](/documentation/1.3/reference)
      ### [Language module API](#{site.urls.apidoc_1_3}/index.html)  
      ### [FAQs](/documentation/1.3/faq)
      
      * [Common](/documentation/1.3/faq)
      * [Language design](/documentation/1.3/faq/language-design)
      * [Known issues in 1.3](/documentation/1.3/faq/known-issues)
      
      ### [Roadmap](/documentation/1.3/roadmap)
      ### [Ceylon IDE for IntelliJ](/documentation/1.3/ide/intellij)
      ### [Ceylon IDE for Eclipse](/documentation/1.3/ide/eclipse)
  .point-dark-end 
    &nbsp;
#banner
  #text
    FAQs
#core-page
  ~ content