---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.1/introduction)
      ### [Tour of Ceylon](/documentation/1.1/tour)
      ### [Ceylon Walkthrough](/documentation/1.1/walkthrough)
      <!-- ### [Tutorial Videos](/documentation/1.1/videos) -->
      ### [Language specification](/documentation/1.1/spec)
      ### [Reference](/documentation/1.1/reference)
      ### [Language module API](#{site.urls.apidoc_1_1}/index.html)  
      ### [FAQs](/documentation/1.1/faq)
      
      * [Common](/documentation/1.1/faq)
      * [Language design](/documentation/1.1/faq/language-design)
      
      ### [Roadmap](/documentation/1.1/roadmap)
      ### [Ceylon IDE](/documentation/1.1/ide)
  .point-dark-end 
    &nbsp;
#banner
  #text
    FAQs (1.1)
#core-page
  %h4 
    Note: information on this page refers to Ceylon 1.1, not to the 
    %a{:href=>'/documentation/current'} current release.
  ~ content
