---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.0/introduction)
      ### [Tour of Ceylon](/documentation/1.0/tour)
      
      1. [Basics](/documentation/1.0/tour/basics)
      1. [Classes](/documentation/1.0/tour/classes)
      1. [Inheritance and refinement](/documentation/1.0/tour/inheritance)
      1. [Anonymous and member classes](/documentation/1.0/tour/anonymous-member-classes)
      1. [Sequences](/documentation/1.0/tour/sequences)
      1. [Types](/documentation/1.0/tour/types)
      1. [Generics](/documentation/1.0/tour/generics)
      1. [Attributes, variables etc](/documentation/1.0/tour/missing-pieces)
      1. [Modules](/documentation/1.0/tour/modules)
      1. [Functions](/documentation/1.0/tour/functions)
      1. [Named Arguments](/documentation/1.0/tour/named-arguments)
      1. [Language Module](/documentation/1.0/tour/language-module)
      1. [Initialization](/documentation/1.0/tour/initialization)
      1. [Annotations](/documentation/1.0/tour/annotations)
      1. [Interceptors](/documentation/1.0/tour/interceptors)
      
      ### [Reference](/documentation/1.0/reference)
      #### [Specification](/documentation/1.0/spec)
      #### [API](/documentation/1.0/api/ceylon/language)
      ### [FAQs](/documentation/1.0/faq)
      ### [Roadmap](/documentation/1.0/roadmap)
      ### [Ceylon IDE](/documentation/1.0/ide)
  .point-dark-end 
    &nbsp;
#core-page
  ~ content
