---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/introduction)
      ### [Tour of Ceylon](/documentation/tour)
      
      1. [Basics](/documentation/tour/basics)
      1. [Classes, interfaces and objects](/documentation/tour/classes)
      1. [Inheritance and refinement](/documentation/tour/inheritance)
      1. [Introduction and member classes](/documentation/tour/introduction)
      1. [Sequences](/documentation/tour/sequences)
      1. [Types](/documentation/tour/types)
      1. [Generics](/documentation/tour/generics)
      1. [Attributes, variables etc](/documentation/tour/missing-pieces)
      1. [Modules](/documentation/tour/modules)
      1. [Functions](/documentation/tour/functions)
      1. [Named Arguments](/documentation/tour/named-arguments)
      1. [Language Module](/documentation/tour/language-module)
      1. [Initialization](/documentation/tour/initialization)
      1. [Annotations](/documentation/tour/annotations)
      1. [Interceptors](/documentation/tour/interceptors)
      
      ### [Reference](/documentation/reference)
      ### [FAQs](/documentation/faq)
      ### [Roadmap](/documentation/roadmap)
      ### [Ceylon IDE](/documentation/ide)
  .point-dark-end 
    &nbsp;
#core-page
  ~ content